@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background: #F5F0E4;
  --foreground: black;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Philosopher", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-app {
  color: black !important;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

/* Landing Page */
.headline {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.7rem;
  text-align: center;
  opacity: 0.6;
}

.landingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 3rem;
}

.loginButton {
  background-color: #1D6E27 !important;
}

.signupButton {
  background-color: #931824 !important;
}

.loginButton, .signupButton {
  height: 4rem !important;
  width: 8rem !important;
  font-size: 1.4rem !important;
}

.loginButton,
.signupButton {
  transition: transform 0.2s ease, box-shadow 0.2s ease !important;
}

.loginButton:hover, .signupButton:hover {
  background-color: #2e5e44 !important;
  border-color: #2e5e44 !important;
  transform: translateY(-3px) !important;
  box-shadow: 0 8px 20px rgba(61, 122, 90, 0.4) !important;
}

/* Login Page */
.login-container {
  width:30rem;
  height: 30rem;
  padding: 50px 50px;
  border-radius: 16px;
  background: linear-gradient(180deg, #8B5100 0%, #251500 97.6%);
  font-size: 2rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.5rem !important;
}

.ant-form-item-label>label {
  font-size: 1.7rem !important;
}

.ant-form-item .ant-form-item-control-input-content {
  padding: 10px;
}

.login-container .ant-input,
.login-container .ant-input-password {
  font-size: 1.3rem !important;
  height: 50px !important;
  background-color: white;
}

.login-container .ant-input,
.login-container .ant-input-affix-wrapper {
  display: flex !important;
  align-items: center !important;
}

.redirect-link {
  padding-top: 30px;
  color: black !important;
  text-decoration: underline;
}

.login-button {
  background-color: #1D6E27 !important;
  width: 100%
}

/* Register page */
.register-container {
  width: 50rem;
  height: 50rem;
  padding: 50px 50px;
  border-radius: 16px;

  font-size: 2rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.5rem !important;
  background: linear-gradient(180deg, #8B5100 0%, #251500 97.6%) !important;
}

.register-button {
  background-color: #931824 !important;
  width: 100%
}

.register-container .ant-input,
.register-container .ant-input-password {
  font-size: 1.3rem !important;
  height: 50px !important;
  background-color: white;
}

.register-container .ant-input,
.register-container .ant-input-affix-wrapper {
  display: flex !important;
  align-items: center !important;
}

.register-page .redirect-link {
  color: white !important;
}